<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="jdbc" level="OFF"/>
	<logger name="jdbc.sqltiming" level="OFF"/>
	
	<logger name="org.hibernate.SQL" level="TRACE" />
	<logger name="org.hibernate.type" level="ERROR" />
	<logger name="jdbc.sqlonly" level="TRACE"/>
</configuration>